@font-face {
  font-family: "Roboto";
  src: url(".eot?") format("eot"),
  url(".woff") format("woff"),
  url(".ttf") format("truetype");
}


img {
    max-width: 100%;
    height: auto;
}

* {
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  background-color: #8da798;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  font: 100% Roboto, Verdana, sans-serif;
  line-height: 1.4em;
  color: #000;
  background-color: #8da798;
  word-wrap: break-word;
  margin: 0 auto;
}

.background {
  position: relative;
  width: 79%;
  margin: 0 auto;
  padding: 0 25px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 1.938em;
  line-height: 1.323em;
}

h2 {
  font-size: 1.500em;
  line-height: 1.250em;
}





body > input[type="radio"] {
  display: none;
}

.container {
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;

}

.container input[type="radio"] {
  display: none;
}

.slider {
  position: relative;
  padding-top: 275px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}

.slide-title {
  width: 61.082024433%;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 3.750em;
  line-height: 1em;

}

.slide-btn {
  display: inline-block;
  max-width: 34.904013962%;
  padding: 2px 40px;
  margin: 0 auto;
  border-radius: 128px;
  box-sizing: border-box;
  font-size: 1.938em;
  line-height: 2em;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  outline: none;
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  outline: none;
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  outline: none;
}

.slider-buttons {
  position: absolute;
  bottom: 20px;
  left: -2px;
  z-index: 20;
  font-size: 0;
}

.slider-buttons label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-buttons label:hover {
  background-color: rgba(255,255,255,.3);
}

.slide {
  display: none;
}

#btn-1:checked ~ .container #slide1,
#btn-2:checked ~ .container #slide2,
#btn-3:checked ~ .container #slide3 {
  display: block;
}

#btn-1:checked ~ .container label[for="btn-1"],
#btn-2:checked ~ .container label[for="btn-2"],
#btn-3:checked ~ .container label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .container {
background-color: #8da798;
  background-image: url("../img/slider-ice-1.png");
}

#btn-2:checked ~ .container {
  background-color: #8996a6;
  background-image: url("../img/slider-ice-2.png");

}

#btn-3:checked ~ .container {
  background-color: #9d8b84;
  background-image: url("../img/slider-ice-3.png");
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("../img/slider-ice-1.png");
}

.site-wrapper:after {
  background-image: url("../img/slider-ice-2.png");
}

@media (max-width: 978px) {
  .slider-buttons {
    width: auto;
  }

  .slide-btn {
    line-height: 1.2em;
  }

  .slide-title {
    font-size: 3.4em;
    margin-bottom: 10px;
  }
}

@media (max-width: 780px) {
  .slide-btn {
    font-size: 1.3em;
    line-height: 1em;
    padding: 15px;
    width: 90%;
    margin: 0px;
  }
  .slider-buttons {
    display: block;
    width: 40%;
    padding: 0;
    margin: 0;
  }

  .slider-buttons label {
    margin: 1px;
  }

  .slide-title {
    font-size: 2.3em;
    margin-bottom: 10px;
  }

  .container {
    background-size: 100%;
    background-position: 10% 10%;
    margin: 0;

  }
}

@media (max-width: 480px) {
  .slide-btn {
    font-size: 1em;
    padding: 5px 10px;
  }

  .slide-title {
    font-size: 1.5em;

  }

  .container {
    background-size: 150%;
    background-position: 55% 5%;
    margin: 0;

  }
}


 /*header*/

.main-header {
  width: 100%;
  font-size: 0px;
}

.logo {
  width: 153px;
  margin-top: 10px;
  margin-left: 0px;
  float:left;
  margin-bottom: 20px;
}


.main-navigation {
  float: left;
  width: 550px;
  font-size: 0;
  margin-left: 180px;
}

.main-menu {
  display: inline-block;
  margin-top: 23px;
  padding-left: 16px;
  font-size: 0px;
  vertical-align: top;
  list-style: none;
}


.main-menu > li {
  position: relative;
  display: inline-block;
  padding-bottom: 7px;
  vertical-align: top;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;
}

.main-menu .btn-link {
  position: relative;
  display: block;
  padding: 6px 14px;
  color: #fff;
  border-radius: 15px;
  text-decoration: none;
}

.main-menu .btn-link:after {
  position: absolute;
  bottom: 3px;
  right: 14px;
  left: 14px;
  display: block;
  background-color: #c5d7cc;
  opacity: 0.4;
  height: 2px;
  content: "";
}
 .main-menu li:hover .btn-link:after{
   display: none;
 }

.main-menu > li:hover .btn-link {
  background: #ededed;
  color: #333;
}

.main-menu .catalog-link:active {
  background-color: #ededed;
  text-decoration: none;
}

.main-menu .btn-link:active {
  background: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.main-menu .active {
  background: #d07058;
}

.main-menu .active.btn-link:after{
  display: none;
}

.catalog:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;
  left: -6px;
  z-index: 3;
  display: none;
  width: 160%;
  margin-top: 7px;
  padding: 4px 0px 10px 0px;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 15px 20px 1px rgba(0, 0, 0, 0.4);
}

.sub-menu-item {
  display: block;
  padding-top:6px;
  padding-bottom:2px;
  padding-left: 20px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  margin-bottom: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-decoration: none;
}


.sub-menu .news {
  display: block;
  padding-top:10px;
  padding-bottom:6px;
  margin-bottom: 5px;
  padding-left: 20px;
  color: #343434;
  text-decoration: none;
  position: relative;
  margin-bottom: 6px;
  font-weight: 700;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.sub-menu .news:after {
  position: absolute;
  left: 7px;
  bottom: -5px;
  height: 1px;
  width: 128px;
  background: #aebeb5;
  content: "";
}

.sub-menu .melorin {
 padding-bottom: 13px;
 border-bottom-left-radius: 6px;
 border-bottom-right-radius: 6px;
}

.sub-menu a:hover {
  background: #fbded7;
  border-radius: 0;

}

.sub-menu a:active {
  background: #f6b5a5;

}

.sub-menu .active {
  color: #fff;
  border-radius: 0;
  background: #d07058;

}

.user-block {
  float: right;
  min-width: 30.541012216%;
  margin-top: 23px;
}

.user-block ul {
  padding: 0px;
  margin-left: 7px;
  font-size: 0px;
  vertical-align: top;
  list-style: none;
}

.user-block li {
  margin-right: 10px;
  padding-bottom: 2px;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1.1rem;
  vertical-align: top;
  right: 0px;
}

.user-block li:last-child {
  margin-right: 0px;
}

.search {
  position: relative;

}

.search-link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.search:hover .search-link {
  background: #f8f7f4;
}

.search:hover .search-link:before {
  background: url("../img/icon/icon-search-hover.svg") center no-repeat;
}

.search a:before {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/icon/icon-search.svg") center no-repeat;
  content: "";
}

 .search:hover .search-form {
   display: block;
}

.search-form {
  position: absolute;
  top: 35px;
  left: -306px;
  display: none;
  width: 341px;
  background: #f8f7f4;
  border-radius: 8px;
  box-shadow: 0 15px 20px 1px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.search-form input[type="search"] {

  width: 310px;
  margin: 20px 15px;
  padding: 10px 13px;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  border: none;
  box-shadow: 0 0 0 2px #d3d3d2;
  border-radius: 5px;
}

.enter {
  position: relative;
}

.enter > a {
  position: relative;
  display: block;
  padding: 7px 16px 9px 44px;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.enter > a:before {
  position: absolute;
  top: 6px;
  left: 16px;
  display: block;
  width: 20px;
  height: 19px;
  background: url("../img/icon/icon-enter.svg") no-repeat;
  content: "";
}

.enter:hover > a {
  color: #323232;
  background: #f8f7f4;
}

.enter:hover > a:before {
  background: url("../img/icon/icon-enter-hover.svg") no-repeat;
}

.enter:hover .enter-form {
  display: block;
}

.enter-form {
  position: absolute;
  top: 35px;
  left:-182px;
  z-index: 2;
  display: none;
  width: 277px;
  min-height: 215px;
  font-size: 0;
  background: #f8f7f4;
  border-radius: 8px;
  box-shadow: 0 15px 20px 1px rgba(0, 0, 0, 0.4);

}

.form-container {
  position: relative;
}

.message-delivery {
  position: relative;
}

.enter-form input[type="email"],
.enter-form input[type="password"] {
  box-sizing: border-box;
  width: 240px;
  margin: 21px 19px 0px 19px;
  padding: 9px 13px;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  box-shadow: 0 0 0 2px #d3d3d2;
  border: none;
  border-radius: 5px;
}

.form-field:focus + .login-form__label{
  top: 1px;
  left: 25px;
  opacity: 1;
  font-size: 11px;
  color: #5b9ddf;
}

.message-delivery .form-field:focus + .login-form__label {
  top: -20px;
}

.feedback .form-field:focus + .login-form__label {
  top: -20px;
}

.form-field:not(:placeholder-shown) + .login-form__label{
  top: 1px;
  left: 25px;
  opacity: 1;
  font-size: 11px;
  color: #9a9a9a;
}

.login-form__label{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: top 0.7s ease, opacity 0.7s ease;
    opacity: 0;
    color: #f8f7f4;
    font-size: 14px;
    cursor: text;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.7s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.7s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.7s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.7s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.7s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.7s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.7s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.7s ease;}
input:focus:placeholder { color:transparent; }

.enter-form input[type="submit"] {
  display: inline-block;
  margin: 22px 19px 0px 19px;
  padding: 6px 29px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  text-align: left;
  vertical-align: top;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  border: 0;
  border-radius: 20px;
  box-shadow: 0 1px 2px 1px #c9685d;
  cursor: pointer;
  outline: none;
}

.enter .wrapper-link {
  display: inline-block;
  width: 120px;
  margin-top: 17px;
  font-size: 13px;
  line-height: 24px;
  vertical-align: top;
}

.wrapper-link a{
  color: #7a7a78;
}

.wrapper-link a:hover,
.wrapeer-link a:active {
  color: #e84d37;
}

.basket {
  position: relative;
}

.basket > a {
  position: relative;
  display: block;
  width: 110px;
  padding: 7px 0px 9px 45px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  text-decoration: none;
}

.basket > a.empty:before {
  position: absolute;
  left: 17px;
  top: 6px;
  display: block;
  width: 21px;
  height: 20px;
  background: url("../img/icon/icon-basket.svg") no-repeat;
  content: "";
}

.basket > a.full:before {
  position: absolute;
  left: 17px;
  top: 6px;
  display: block;
  width: 21px;
  height: 20px;
  background: url("../img/icon/icon-basket-full.svg") no-repeat;
  content: "";
}

.basket:hover > a {
  color: #323232;
  background: #f8f7f4
}

.basket:hover > a.empty:before {
  background: url("../img/icon/icon-basket-hover.svg") no-repeat;
}

.basket:hover > a:before {
  background: url("../img/icon/icon-basket-full.svg") no-repeat;
}

.basket:hover .basket-form {
  display: block;
}

.basket-form {
  position: absolute;
  top: 35px;
  left: -422px;
  z-index: 2;
  display: none;
  width: 540px;
  color: #333333;
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 15px 20px 1px rgba(0, 0, 0, 0.4);
}

.product {
  padding-top: 20px;
  font-size: 0px;
  line-height: 0px;
}

.product img {
  border-radius: 50%;
}

.product .delete {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 0px;
  line-height: 16px;
  vertical-align: top;
}

.product .delete:before, .product .delete:after {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 14px;
  height: 1px;
  background: #000;
  content: "";
}

.product .delete:before {
  transform: rotate(45deg);
}

.product .delete:after {
  transform: rotate(-45deg);
}

.product .product-item {
    text-decoration: none;
    color: #333;
}

.product span {
  display: inline-block;
  padding-top: 10px;
  font-family: "Roboto Regular";
  color: #333;
  vertical-align: top;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
}

.product span i {
  color: grey;
  font-style: normal;
}

.product span:first-of-type {
  width: 220px;
  margin-left: 13px;
  margin-right: 29px
}

.product span:nth-of-type(2) {
  margin-right: 28px;
}

.product span:last-child {
  margin-bottom: 17px;
}

.total-price {
  position: relative;
  margin-top: 30px;
  padding: 0 14px;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
}

.total-price:before {
  position: absolute;
  top: -14px;
  left: 15px;
  width: 510px;
  height: 1px;
  background: #cacac7;
  content: "";
}

.btn-wrapper {
  display: block;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  text-align: right;
  float: right;
}

.basket-form input[type="submit"] {
  padding: 7px 18px;
  color: #fefefe;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  border: 0;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  box-shadow: 0 1px 2px 1px #c9685d;
  cursor: pointer;
  outline: none;
}

.contacts {
  float: left;
  width: 60%;
  margin-top: 12px;
  color: #fff;
  text-align: right;
}

.contacts p:first-child {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.contacts p:last-child {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  margin-top: 3px;
  font-weight: 900;
}

@media (max-width: 1140px) {

  }
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {


   .logo {
     display: block;
     width: 120px;
     margin-left: 10%;
   }

   .main-menu .btn-link {
     color: #8A2BE2;
     margin: 0;
   }

   .main-navigation {
     width: 150px;
   }

   .user-block {
     margin-right: 30px;
   }

   .search-form {
     left: 5px;
     width: 200px;
   }

   .search-form input[type="search"] {
     width: 170px;
   }

   .enter-form {
     left: -60px;
   }

   .basket-form {
     left: -50px;
     width: 280%;
   }

   .contacts {
     width: 90%;
   }
}





.free {
  margin-bottom: 40px;
}

.left-sale {
  box-sizing: border-box;
  float: left;
  width: 48.865619546%;
  height: auto;
  padding-top: 10px ;
  padding-right: 23px ;
  padding-left: 18px;
  color: #fff;
  border-radius: 15px;
  background: #bd2d45 url("../img/bg/bg-raspberry.png");


}

.left-sale p {
  margin: 20px 30px 25px 0px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.left-sale a {
  box-sizing: border-box;
  float: right;
  margin-bottom: 23px;
  padding: 12px 23px;
  color: #fff;
  font-size: 18px;
  line-height: auto;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  background-image: -moz-linear-gradient( 90deg, rgb( 231, 74, 53 ) 0%, rgb( 242, 104, 67 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 231, 74, 53 ) 0%, rgb( 242, 104, 67 ) 100%);
  box-shadow: 0px 2px 2px 0px rgb( 172, 16, 0 );
  outline: none;
}

.right-sale {
  box-sizing: border-box;
  float: right;
  width: 48.865619546%;
  height: auto;
  padding-top: 10px ;
  padding-right: 23px ;
  padding-left: 18px;
  color: #fff;
  border-radius: 15px;
  background: url("../img/bg/bg-chocolate.png") #6c4029;

}


.right-sale p {
  margin: 20px 30px 25px 0px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.right-sale a {
  box-sizing: border-box;
  float: right;
  margin-bottom: 23px;
  padding: 12px 22px;
  color: #fff;
  font-size: 18px;
  line-height: auto;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  background-image: -moz-linear-gradient( 90deg, rgb( 231, 74, 53 ) 0%, rgb( 242, 104, 67 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 231, 74, 53 ) 0%, rgb( 242, 104, 67 ) 100%);
  box-shadow: 0px 2px 2px 0px rgb( 172, 16, 0 );
  outline: none;
}

.left-sale a:hover,
.right-sale a:hover {
  background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
  box-shadow: 0 1px 2px #ac1000;
  outline: none;
}

.left-sale a:active,
.right-sale a:active {
  background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
  box-shadow: inset 0 2px 2px #942718;
  outline: none;
}

@media (max-width: 480px) {
  .left-sale {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 10px;

  }
  .right-sale {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 10px;
  }

  .right-sale a {
    width: 70%;
    font-size: 0.7em;
  }

  .left-sale a {
    width: 60%;
    font-size: 0.7em;
  }
}

.hit {
  margin-bottom: 40px;
  font-size: 0px;
  z-index: 4;
}

.ice:hover .view-wrapper, .ice:hover .quick-view {
  display: block;
}

.ice:hover .ice-name {
  text-decoration: none;
}

.ice {
  position: relative;
  display: inline-block;
  width: 23.298429319%;
  margin-right: 2.2%;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
}

.ice:hover {
  z-index: 5;
}

.ice:nth-child(4n) {
  margin-right: 0px;
}



.ice:last-child,
.ice:nth-last-child(2),
.ice:nth-last-child(3),
.ice:nth-last-child(4) {
  margin-bottom: 0;
}

.icecream {
  position: relative;
  margin-bottom: 7px;
  border-radius: 50%;
  z-index: 3;
}

.ice-sale {
  position: relative;
  z-index: 3
}

.ice-sale:before {
  position: absolute;
  z-index: 4;
  width: 22.84%;
  height: 22.84%;
  background: url("../img/hit.png") no-repeat;
  content: "";
}

.price {
  position: absolute;
  top: 64%;
  left: 6%;
  margin: 0px;
  color: #fff;
  font-size: 30px;
  line-height: 45px;
  z-index: 3;
}

.price img {
  width: 31px;
  height: 36px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;

}

.cost {
  font-size: 40px;
  font-weight: bold;
  z-index: 3;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.ice a {
  position: relative;
  display: block;
  color: #fff;
  z-index: 3;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
  padding: 0px 5px;
  margin-bottom: 16px;
}

.view-wrapper {
  position: absolute;
  display: none;
  padding-bottom: 1px;
  top: -5px;
  left:-5px;
  z-index: 1;
  width: 105%;
  height: 120%;
  text-decoration: none;
  opacity: 0.3;
  background-color: #f8f7f4;
  border-radius: 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.ice:hover a {
  text-decoration: none;
}



.ice .ice-name {
  position: relative;
  z-index: 3;
}

.ice .quick-view {
  position: absolute;
  bottom: -60px;
  left: 35px;
  z-index: 4;
  display: none;
  padding: 5px 27px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  box-shadow: 0 2px 2px 0 #be401a;
}

@media (max-width:1014px) {

}

@media (max-width:768px) {

}

@media (max-width:480px) {
  .ice {
    width: 100%;
    margin: 0;
  }

  .ice-sale:before {
    width: 30%;
    height: 30%;
  }

  .price {
    top: 57%;
  }

  .ice .quick-view {
    padding: 5px 15px;
  }

}


.quick-view:hover,
.basket-form input[type="submit"]:hover,
.enter-form input[type="submit"]:hover,
.left-sale a:hover,
.right-sale a:hover,
.message-wrapper input[type="submit"]:hover,
.contacts-form .contact-btn:hover,
.feedback input[type="submit"]:hover {
  background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
  box-shadow: 0 2px 2px #ac1000;


}

.quick-view:active,
.basket-form input[type="submit"]:active,
.enter-form input[type="submit"]:active,
.left-sale a:active,
.right-sale a:active,
.message-wrapper input[type="submit"]:active,
.contacts-form .contact-btn:active,
.feedback input[type="submit"]:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  outline: none;
}

.about-us {
  box-sizing:border-box;
  width: 100%;
  padding: 21px;
  margin-bottom: 40px;
  background-color: #ede2c8;
  background: #ede0c3 url("../img/waffle-pattern.png");
  border-radius: 10px;
}

.about-us h2 {
  margin: 0;
  margin-bottom: 22px;
  color: #323232;
  margin-right: 20px;
  font-weight: 500;
}

.column-left {
  box-sizing: border-box;
  float: left;
  margin-right: 1.1%;
  width: 48.86%;
  /*padding-left: 1.74%;/*20px*/*/
}

.column-right {
  box-sizing: border-box;
  float: right;
  margin-left: 1.1%;
  width: 48.86%; /*560px*/
}

.column-left p, .column-right p {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding-left: 55px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.column-left p:before,
.column-right p:before {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 48px;
  height: 48px;
  content: "";
}

.column-left p:nth-child(1):before {
  background: url('../img/icon/icon-ice.svg');
}

.column-left p:nth-child(2):before {
  background: url('../img/icon/icon-leaf.svg');
}


.column-right p:nth-child(1):before {
  background: url('../img/icon/icon-cow.svg');
}

.column-right p:nth-child(2):before {
  background: url('../img/icon/icon-thermometr.svg');
}

.usefull-info {
  margin-bottom: 40px;
}

@media (max-width: 1016px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .about-us h2 {
    font-size: 1rem;
  }

  .column-left {
    width: 100%;
  }

  .column-right {
    width: 100%;
  }

  .column-left p, .column-right p {
    font-size: 0.8rem;
  }
}

.blog {
  box-sizing: border-box;
  float: left;
  width: 48.5%;
  min-height: 220px;
  padding: 26px 256px 0px 19px;
  background: url("../img/bg/bg-raspberry2.png");
}

.blog h3 {
  margin: 0;
  margin-bottom: 5px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 500;
}

.blog a {
  display: block;
  color: #353535;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.blog a:hover, .blog a:active {
  color: #e84d37;
}

.mail-delivery {
  box-sizing: border-box;
  float: right;
  width: 48.9%;
  min-height: 202px;
  padding: 6px;
  color: #5a5a5a;
  font-weight: 400px;
  border-radius: 16px;
  background: url("../img/message-pattern.png") #fff;

}

.message-wrapper {
  box-sizing: border-box;
  width: 100%;
  min-height: 208px;
  padding:5px 20px 5px 20px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.message-wrapper p {
  box-sizing: border-box;
  margin-bottom: 35px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

}

.message-wrapper form {
  font-size: 0px;
}

.feedback.pop-window {
  display: block;
}

.message-wrapper input[type="email"] {
  box-sizing: border-box;
  display: inline-block;
  width: 60%;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
  box-shadow: 0 0 0 2px #d3d3d2;
  border: none;
  border-radius: 5px;

}

.message-wrapper input[type="email"]::-moz-placeholder {
  color: grey;
  font-size: 14px;
}

.message-wrapper input[type="email"]:hover,
.search-form input[type="search"]:hover,
.enter-form input[type="email"]:hover,
.enter-form input[type="password"]:hover,
.feedback input[type="text"]:hover,
.feedback input[type="email"]:hover,
 .feedback textarea:hover {
   box-shadow: 0 0 0 2px #c7c6c5;
   outline: none;
 }

 .message-wrapper input[type="email"]:focus,
 .search-form input[type="search"]:focus,
 .enter-form input[type="email"]:focus,
 .enter-form input[type="password"]:focus,
 .feedback input[type="text"]:focus,
 .feedback input[type="email"]:focus,
 .feedback textarea:focus {
   box-shadow: 0 0 0 2px #8fbdec;
   outline: none;
  }

.message-wrapper input[type="submit"] {
  display: inline-block;
  padding:10px 21px;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  vertical-align: top;
  font-weight: 700;
  text-align: left;
  border: 0;
  border-radius: 40px;
  background-color: #e94e37;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
  outline: none;
}

@media (max-width: 1016px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .blog {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .blog h3 {
    font-size: 1rem;
    width: 350px;
  }

  .blog a {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 200px;
  }

  .mail-delivery {
    width: 100%;
  }

  .message-wrapper input[type="email"] {
    width: 90%;
    margin-bottom: 10px;
  }
}

.map {
  height: 430px;
  background-color: #ebe4c8;
  background-repeat: no-repeat;
  background-size: 79% 79%;
  margin-bottom: 35px;
}

.contacts-form {
  box-sizing: border-box;
  position: absolute;
  top: -410px;
  right: 2.3%;
  width: 25%;
  padding: 26px 25px 12px 25px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;

}

.contacts-form p {
  padding: 0px 4px;
  margin: 0;
  margin-bottom: 23px;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.contacts-form span {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts-form p:last-of-type span {
  margin-top: 5px;
}

.contact-btn {

  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 32px;
  color: #fefefe;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  border: 0;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
}

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(50px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.feedback {
  box-sizing: border-box;
  position: fixed;
  top:10%;
  left:50%;
  right: 50%;
  z-index: 5;
  display: none;
  width: 35%;
  margin-left: -15.5%;
  border-radius: 12px;
  background: #f8f7f4;
  animation: bounce 0.6s;
}

.feedback p {
  display: inline-block;
  margin: 19px 62px 21px 22px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  vertical-align: top;
}

.feedback a {
  position: relative;
  display: inline-block;
  margin-top: 17px;
  padding-right: 35px;
  font-size: 0;
  vertical-align: top;
}

.feedback a:after,
.feedback a:before {
  position: fixed;
  top: 15%;
  right: 33%;
  width: 23px;
  height: 2px;
  background: #000;
  content: "";
}

.feedback a:after {
  transform: rotate(45deg);
}

.feedback a:before {
  transform: rotate(-45deg);
}


.feedback input[type="text"],
.feedback input[type="email"] {
  box-sizing: border-box;
  display: block;
  width: 50%;
  margin-bottom: 20px;
  margin-left: 24px;
  padding: 10px 15px;
  color: #323232;
  box-shadow: 0 0 0 2px #d3d3d2;
  border: none;
  border-radius: 5px 4px 4px 5px;
}

.feedback textarea {
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: 24px;
  width: 90%;
  min-height: 155px;
  color: #323232;
  border: 1px solid #d3d3d2;
  border-radius: 8px;
  resize: none;
}


.feedback input[type="submit"] {
  box-sizing: border-box;
  text-align: right;
  float: right;
  width: 28%;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 25px;
  margin-right: 24px;
  margin-bottom: 27px;
  border: 10px;
  border-radius: 25px;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 1px 2px 1px #c9685d;
  cursor: pointer;
}


@media (max-width: 1016px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .contacts-form {
    position: relative;
    width: 100%;
    max-height: 350px;
    top: 0px;
  }

  .contact-btn {
    font-size: 1rem;
    padding: 10px;
  }

  .feedback {
    width: 100%;
    left: 15%;
  }

  .feedback input[type="submit"] {
    width: 35%;
  }

  .feedback a:after,
  .feedback a:before {
    position: fixed;
    top: 15%;
    right: 15%;
    width: 23px;
    height: 2px;
    background: #000;
    content: "";
  }
}


/*footer*/

footer {
  height: auto;
}

footer.pre::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  float: left;
  opacity: 0.3;
  background-color: white;
  margin-bottom: 18px;
}

footer a:hover,
footer a:active {
  color: #ffbc9e;
}


.social-links {
  float: left;
  width: 23.298429319%;
  margin-right: 28px;
}

.social-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  font-size: 0;
  border: 4px solid #c2cec7;
  border-radius: 50%;
  opacity: 0.8;
}

.social-btn:hover {
  color: #fff;
  opacity: 1;
}

.social-btn:active {
  opacity: 0.7;
  box-shadow: inset 0 2px 1px #888;
  color: rgba(255, 255, 255, 0.99);
}

.social-btn-tw {
   background-image: url("../img/icon/icon-tw.svg");
   background-repeat: no-repeat;
   background-position: center;
}

.social-btn-inst {
   background-image: url("../img/icon/icon-inst.svg");
   background-repeat: no-repeat;
   background-position: center;

}

.social-btn-fb {
   background: url("../img/icon/icon-fb.svg");
   background-repeat: no-repeat;
   background-position: center;
}

.social-btn-vk {
   background: url("../img/icon/icon-vk.svg");
   background-repeat: no-repeat;
   background-position: center;
}



.footer-info-left {
  float: left;
  display: block;
  list-style: none;
  margin-right: 27px;
  margin-top: 0px;
}

.footer-info-left  li a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  padding-left: 22px;
}

.footer-info-left  li a:hover,
.footer-info-left  li a:active {
  color: #ffbc9e;
}

 .icon-like:first-child:before {
   position: absolute;
   margin-top: 6px;
   margin-left: 0px;
   height: 13px;
   width:15px;
   background: url("../img/icon/icon-heart.svg") no-repeat;
   content: "";
}

.footer-info-right {

}

.footer-info-right {
  float: left;
  display: block;
  list-style: none;
  margin-top: 0px;
  margin-left: 5px;
  padding: 0;
}

.footer-info-right li a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}

.footer-info-right li a:hover,
.footer-info-right li a:active {
  color: #ffbc9e;
}


@media (max-width: 1016px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .social-links {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .footer-info-right {
    margin-left: 20px;
  }
}

/* catalog.html */

.breadcrumbs {
  float: left;
  width: 100%;
  margin-bottom: 2px;
  margin-top: 15px;
  font-family: "Roboto Regular";
  font-size: 0px;
  line-height: 0;
}

.breadcrumbs-list {
  display: inline-block;
  margin-left: 155px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  list-style: none;
}

.breadcrumbs-list li {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  color: white;
  font-size: 14px;
  line-height: auto;
  font-weight: 400;
  vertical-align: top;
}

.breadcrumbs li::after {
    position: absolute;
    top: -1%;
    right: 10%;
    display: block;
    content: "»";
}

.breadcrumbs li:last-child::after {
  content: "";
}

.breadcrumbs a {
  position: relative;
  color: #fff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.breadcrumbs a::after {
  position: absolute;
  top: 90%;
  bottom: 1%;
  right: 0%;
  left: 0%;
  display: block;
  background-color: #c1cec6;
  height: 2px;
  opacity: 0.8;
  content: "";
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

@media (max-width: 1016px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .breadcrumbs  {
    width: 100%;
    margin-top: 20px;
  }
}

.bsns-contacts a:hover:after, .bsns-contacts a:active:after  {
   background-color: #ffbc9e;
  }

.catalog-heading {
  color: white;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.875em;
  margin-bottom: 28px;
}
.choice-form {
  box-sizing: border-box;
  width: 76.5%;
  margin-bottom: 40px;
  color: #fff;
  font-size: 0px;
  font-weight: normal;
}

.choice-form input,
.choice-form select,
.choice-form label {
  display: block;
}

.choice-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 40px;
  font-size: 14px;
  line-height: 16px;
  margin-right: 16px;
  margin-bottom: 18px;
  vertical-align: top;
}

.choice-form p {
  margin: 0;
  margin-bottom: 6px;
  margin-left: 16px;
}

.choice-form select {
  display: block;
  padding: 10px 32px 10px 14px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  border-radius: 20px;
  border: 0px;
  background-color: rgba(255,255,255,0.3);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  cursor: pointer;
}

.choice-form select:hover {
   color: #323232;
   background-color: #ffffff;
}

.choice-wrapper:first-child:after{
  position: absolute;
  top: 65%;
  right: 10%;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  cursor: pointer;
  content: "";
}

.choice-form select:hover {
  background-color: white;
  color: #343434;
  font-size: 16px;
}

.price-controls label {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls input {
  display: inline-block;
  width: 40px;
  color: inherit;
  vertical-align: top;
  text-align: center;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 2px;
}

.price-controls {
  padding-left: 15px;
  margin-right: 15px;
  color: #fff;
  font-size: 0px;
}

.price-controls span {
  font-size: 14px;
}

.range-controls {
  position: relative;
  padding: 17px 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
}

.filter-price__scale {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.filter-price__range {
  position: relative;
  margin-left: 20%;
  width: 51%;
  height: inherit;
  background-color: #f8f7f4;
}

.filter-price__toggle {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #f8f7f4;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.filter-price__toggle:hover {
  width: 22px;
  height: 22px;
}

.filter-price__toggle-min {
  left: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.filter-price__toggle-max {
  left: 80px;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}


.radio-wrapper {
  padding: 12px 17px 10px 16px;
  font-size: 0px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 20px;
}

.choice-form input[type="radio"] {
  display: none;
}

.radiobtn label {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  cursor: pointer;
}


.radiobtn label:before {
  position: absolute;
  display: block;
  left: -1px;
  height: 12px;
  width: 12px;
  border: 3px solid #aabbb1;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
  content: "";
}

.radiobtn label:hover:before,
 .filers label:hover:before {
   box-shadow: 0 0 0 1.5px #fff;
 }


.radiobtn label:last-child {
  margin: 0;
}

.radio-wrapper input[type="radio"]:checked + label:before {
  background-color: #fff;
}

.choice-wrapper:nth-child(3) {
  margin: 0;
}

.filters {
  padding: 10px 16px 10px 15px;
  font-size: 0px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.3);
}

.filters input {
  display: none;
}

.filters label {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  cursor: pointer;
}

.filters label:before {
  position: absolute;
  display: block;
  top: -1px;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  content: "";
}

.filters label:after {
    position: absolute;
    top: 5px;
    left: 9px;
    z-index: 1;
    width: 9px;
    height: 5px;
    display: none;
    content: "";
    border: 2px solid #fff;
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
}


.filters input[type="checkbox"]:checked + label:after {
  display: block;
}


.filters label:last-child {
  margin: 0;
}

/*.choice-form input[type="submit"]:hover {
   color: #000;
   background-color: #fbfcfb;
 }
.choice-form input[type="submit"]:active {
  color: #000;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px #696969;
  }*/

.form-btn {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 20px;
  vertical-align: top;
  float: right;
}

.choice-form input[type="submit"] {
  padding: 10px 26px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  border: 0px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.19);
  border: 2px solid white;
  cursor: pointer;
  outline: none;
}

.choice-form input[type="submit"]:hover {
  color: #363636;
  background-color: rgba(255, 255, 255, 0.99);
  outline: none;
}

.choice-form input[type="submit"]:active {
  color: #363636;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px dimgrey;
  outline: none;
}


.goods {
  margin-bottom: 80px;
  font-size: 0px;
}

@media (max-weight: 480px) {
  .choice-form {
    width: 100%;
    margin: 0;
  }

  .radio-wrapper {
    margin-bottom: 10px;
  }

  .choice-form input[type="submit"] {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

}

.paginator {
  float: right;
  width: 20%;
  font-size: 0;
  margin-bottom: 37px;
}


.prev {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 12px;
  font-size: 0px;
  vertical-align: middle;
  border: 2px solid #fff;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(45deg);
  opacity: 0.2;

}

.page-btn {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  width: 10%;
  height: auto;
  margin-right: 2px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%

}

.page-btn:hover {
   background-color: rgba(255,255,255,.3);
 }

 .page-btn:active {
   color: #000;
   background-color: #ffffff;
   box-shadow: inset 0 2px 1px #696969;
 }

.page-btn:last-child {
  margin: 0;
}

.next {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: 12px;
  font-size: 0px;
  vertical-align: middle;
  border: 2px solid #fff;
  border-bottom-style: none;
  border-left-style: none;
  transform: rotate(45deg);
}

.paginator .active {
  color: #000;
  background-color:  #fff;
}
