body {
  min-width: 1200px;
  font: 16px Roboto, Verdana, sans-serif;
  line-height: 1.4em;
  color: #000;
  background-color: #8da798;
  word-wrap: break-word;
  margin: 0 auto;
}

.background {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  padding: 0 25px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}


/* Slider */

body > input[type="radio"] {
  display: none;
}

.container {
  background-repeat: no-repeat;
  background-position: 216px 0px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.container input[type="radio"] {
  display: none;
}

.slider {
  position: relative;
  padding-top: 275px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 10px 42px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-buttons {
  position: absolute;
  bottom: 20px;
  left: -2px;
  z-index: 20;
  font-size: 0;
}

.slider-buttons label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-buttons label:hover {
  background-color: rgba(255,255,255,.3);
}

.slide {
  display: none;
}

#btn-1:checked ~ .container #slide1,
#btn-2:checked ~ .container #slide2,
#btn-3:checked ~ .container #slide3 {
  display: block;
}

#btn-1:checked ~ .container label[for="btn-1"],
#btn-2:checked ~ .container label[for="btn-2"],
#btn-3:checked ~ .container label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .container {
  background-color: #849d8f;
  background-image: url("../img/slider-ice-1.png");
}

#btn-2:checked ~ .container {
  background-color: #8996a6;
  background-image: url("../img/slider-ice-2.png");

}

#btn-3:checked ~ .container {
  background-color: #9d8b84;
  background-image: url("../img/slider-ice-3.png");
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("../img/slider-ice-1.png");
}

.site-wrapper:after {
  background-image: url("../img/slider-ice-2.png");
}

/* Header */

.main-header {
  width: 1146px;
  font-size: 0px;
}

.main-navigation {
  float: left;
  width: 750px;
  font-size: 0;
}

.logo {
  width: 153px;
  margin-top: 10px;
  margin-left: -7px;
}

.main-menu {
  display: inline-block;
  margin-top: 23px;
  padding-left: 16px;
  font-size: 0px;
  vertical-align: top;
  list-style: none;
}

.main-menu > li {
  position: relative;
  display: inline-block;
  padding-bottom: 7px;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.main-menu .btn {
  position: relative;
  display: block;
  padding: 6px 14px;
  color: #fff;
  border-radius: 15px;
  text-decoration: none;
}

.main-menu .btn:after {
  position: absolute;
  bottom: 5px;
  right: 14px;
  left: 14px;
  display: block;
  background-color: #b2cabd;
  height: 1px;
  content: "";
}

.main-menu .btn:hover:after,
.main-menu .btn:active:after {
  display: none;
}

.main-menu > li:hover .btn {
  background: #ededed;
  color: #333;

}

.main-menu .catalog-link:active {
  background-color: #ededed;
  text-decoration: none;
}

.main-menu .btn:active {
  background: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.main-menu .active {
  background: #d07058;
}

.main-menu .active.btn:after{
  display: none;
}

.catalog:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;
  left: -6px;
  z-index: 3;
  display: none;
  width: 143px;
  margin-top: 7px;
  padding: 0px;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 15px 20px 1px rgba(0, 0, 0, 0.4);
}

.sub-menu a {
  display: block;
  margin: 0px;
  padding-top:10px;
  padding-bottom:6px;
  padding-left: 20px;
  color: #323232;
  text-decoration: none;
  font-weight: normal;
}


.sub-menu .news {
  position: relative;
  margin-bottom: 6px;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.sub-menu .news:after {
  position: absolute;
  left: 7px;
  bottom: -5px;
  height: 1px;
  width: 128px;
  background: #d1d0ce;
  content: "";
}

.sub-menu .melorin {
 padding-bottom: 13px;
 border-bottom-left-radius: 6px;
 border-bottom-right-radius: 6px;
}

.sub-menu a:hover {
  background: #fbded7;
}

.sub-menu a:active {
  background: #f6b5a5;
}

.sub-menu .active {
  color: #fff;
  height: 28px;
  background: #d07058;
}

.user-block {
  float: right;
  min-width: 350px;
  margin-top: 23px;
}

.user-block ul {
  padding: 0px;
  margin-left: 7px;
  font-size: 0px;
  vertical-align: top;
  list-style: none;
}

.user-block li {
  margin-right: 10px;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
}

.user-block li:last-child {
  margin-right: 0px;
}

.search {
  position: relative;
  padding-left: 80px;
}

.search-link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.search:hover .search-link {
  background: #f8f7f4;
}

.search:hover .search-link:before {
  background: url("../img/icon-search-hover.svg") no-repeat;
}

.search a:before {
  position: absolute;
  top: 7px;
  left: 8px;
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/icon-search.svg") no-repeat;
  content: "";
}

.search:hover .search-form {
  display: block;
}

.search-form {
  position: absolute;
  top: 35px;
  left: -228px;
  display: none;
  width: 341px;
  background: #f8f7f4;
  border-radius: 8px;
  box-shadow: 0 15px 20px 1px rgba(0, 0, 0, 0.4);
}

.search-form input[type="search"] {
  box-sizing: border-box;
  width: 310px;
  margin: 20px 15px;
  padding: 10px 13px;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  border: none;
  box-shadow: 0 0 0 2px #d3d3d2;
  border-radius: 5px;
}

.enter {
  position: relative;
}

.enter > a {
  position: relative;
  display: block;
  padding: 7px 16px 9px 44px;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.enter > a:before {
  position: absolute;
  top: 6px;
  left: 16px;
  display: block;
  width: 20px;
  height: 19px;
  background: url("../img/icon-enter.svg") no-repeat;
  content: "";
}

.enter:hover > a {
  color: #323232;
  background: #f8f7f4;
}

.enter:hover > a:before {
  background: url("../img/icon-enter-hover.svg") no-repeat;
}

.enter:hover .enter-form {
  display: block;
}

.enter-form {
  position: absolute;
  top: 35px;
  left:-182px;
  z-index: 2;
  display: none;
  width: 277px;
  min-height: 215px;
  font-size: 0;
  background: #f8f7f4;
  border-radius: 8px;
  box-shadow: 0 15px 20px 1px rgba(0, 0, 0, 0.4);

}

.form-container {
  position: relative;
}

.message-delivery {
  position: relative;
}

.enter-form input[type="email"],
.enter-form input[type="password"] {
  box-sizing: border-box;
  width: 240px;
  margin: 21px 19px 0px 19px;
  padding: 9px 13px;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  box-shadow: 0 0 0 2px #d3d3d2;
  border: none;
  border-radius: 5px;
}

.form-field:focus + .login-form__label{
  top: 1px;
  left: 25px;
  opacity: 1;
  font-size: 11px;
  color: #5b9ddf;
}



.message-delivery .form-field:focus + .login-form__label {
  top: -20px;
}

.feedback .form-field:focus + .login-form__label {
  top: -20px;
}

.form-field:not(:placeholder-shown) + .login-form__label{
  top: 1px;
  left: 25px;
  opacity: 1;
  font-size: 11px;
  color: #9a9a9a;
}

.login-form__label{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: top 0.7s ease, opacity 0.7s ease;
    opacity: 0;
    color: #f8f7f4;
    font-size: 14px;
    cursor: text;
}



input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.7s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.7s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.7s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.7s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.7s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.7s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.7s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.7s ease;}
input:focus:placeholder { color:transparent; }


.enter-form input[type="submit"] {
  display: inline-block;
  margin: 19px 19px 0px 19px;
  padding: 10px 25px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  vertical-align: top;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  border: 0;
  border-radius: 20px;
  box-shadow: 0 1px 2px 1px #c9685d;
  cursor: pointer;
}


.enter .wrapper-link {
  display: inline-block;
  width: 120px;
  margin-top: 17px;
  font-size: 13px;
  line-height: 24px;
  vertical-align: top;
}

.wrapper-link a{
  color: #7a7a78;
}

.wrapper-link a:hover,
.wrapeer-link a:active {
  color: #e84d37;
}

.basket {
  position: relative;
}

.basket > a {
  position: relative;
  display: block;
  width: 73px;
  padding: 7px 0px 9px 45px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  text-decoration: none;
}

.basket > a.empty:before {
  position: absolute;
  left: 17px;
  top: 6px;
  display: block;
  width: 21px;
  height: 20px;
  background: url("../img/icon-basket.svg") no-repeat;
  content: "";
}

.basket > a.full:before {
  position: absolute;
  left: 17px;
  top: 6px;
  display: block;
  width: 21px;
  height: 20px;
  background: url("../img/icon-basket-full.svg") no-repeat;
  content: "";
}

.basket:hover > a {
  color: #323232;
  background: #f8f7f4
}

.basket:hover > a.empty:before {
  background: url("../img/icon-basket-hover.svg") no-repeat;
}


.basket:hover > a:before {
  background: url("../img/icon-basket-full.svg") no-repeat;
}

.basket:hover .basket-form {
  display: block;
}

.basket-form {
  position: absolute;
  top: 35px;
  left: -422px;
  z-index: 2;
  display: none;
  width: 540px;
  color: #333333;
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 15px 20px 1px rgba(0, 0, 0, 0.4);
}

.product {
  padding-top: 20px;
  font-size: 0px;
  line-height: 0px;
}

.product img {
  border-radius: 50%;
}

.product a {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 0px;
  line-height: 16px;
  vertical-align: top;
}

.product a:before, .product a:after {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 14px;
  height: 1px;
  background: #000;
  content: "";
}

.product a:before {
  transform: rotate(45deg);
}

.product a:after {
  transform: rotate(-45deg);
}

.product span {
  display: inline-block;
  padding-top: 10px;
  vertical-align: top;
  font-size: 13px;
  line-height: 16px;
}

.product span:first-of-type {
  width: 220px;
  margin-left: 13px;
  margin-right: 29px
}

.product span:nth-of-type(2) {
  margin-right: 28px;
}

.total-price {
  position: relative;
  margin-top: 30px;
  padding: 0 14px;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
}

.total-price:before {
  position: absolute;
  top: -14px;
  left: 15px;
  width: 510px;
  height: 1px;
  background: #cacac7;
  content: "";
}

.btn-wrapper {
  display: block;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  text-align: right;
}

.btn-wrapper input[type="submit"] {
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  border: 0;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  box-shadow: 0 1px 2px 1px #c9685d;
  cursor: pointer;
}

.contacts {
  float: left;
  width: 350px;
  margin-top: 12px;
  color: #fff;
  text-align: right;

}

.contacts p:first-child {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.contacts p:last-child {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  margin-top: 3px;
  font-weight: 900;
}

/*index.html*/


.free {
  margin-bottom: 40px;
}

.left-sale {
  box-sizing: border-box;
  float: left;
  width: 560px;
  padding-top: 18px ;
  padding-right: 23px ;
  padding-left: 18px;
  color: #fff;
  border-radius: 15px;
  background-color: #bd2d45;
  background: url("../img/bg-raspberry.png") no-repeat;
  background-position: 22% center;

}

.left-sale p {
  margin: 20px 30px 25px 0px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.left-sale a {
  box-sizing: border-box;
  float: right;
  margin-bottom: 23px;
  padding: 10px 24px 10px 20px;
  color: #fff;
  font-size: 18px;
  line-height: 17px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 1px 2px 2px 0 #9e4535;
}

.right-sale {
  box-sizing: border-box;
  float: right;
  width: 560px;
  padding-top: 18px ;
  padding-right: 23px ;
  padding-left: 18px;
  color: #fff;
  border-radius: 15px;
  background-color: #6c4029;
  background: url("../img/bg-chocolate.png") no-repeat;
  background-position: 81% 46%;
}


.right-sale p {
  margin: 20px 30px 25px 0px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.right-sale a {
  box-sizing: border-box;
  float: right;
  margin-bottom: 23px;
  padding: 10px 24px 10px 20px;
  color: #fff;
  font-size: 18px;
  line-height: 17px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 1px 2px 2px 0 #9e4535;
}

.left-sale a:hover,
.right-sale a:hover {
  background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
  box-shadow: 0 1px 2px #ac1000;
}

.left-sale a:active,
.right-sale a:active {
  background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.hit {
  margin-bottom: 3.49%;
  font-size: 0px;
  z-index: 4;
}

.ice:hover .view-wrapper, .ice:hover .quick-view {
  display: block;
}

.ice:hover .ice-name {
  text-decoration: none;
}

.ice {
  position: relative;
  display: inline-block;
  width: 267px;
  margin-right: 2.2%;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
}

.ice img {
  z-index: 2;
}

.ice:nth-child(4n) {
  margin-right: 0px;
}



.ice:last-child,
.ice:nth-last-child(2),
.ice:nth-last-child(3),
.ice:nth-last-child(4) {
  margin-bottom: 0;
}

.icecream {
  position: relative;
  margin-bottom: 7px;
  border-radius: 50%;
  z-index: 3;
}

.ice-sale {
  position: relative;
  z-index: 3
}

.ice-sale:before {
  position: absolute;
  z-index: 4;
  width: 22.84%;
  height: 22.84%;
  background: url("../img/hit.png") no-repeat;
  content: "";
}

.price {
  position: absolute;
  top: 214px;
  left: 15px;
  margin: 0px;
  color: #fff;
  font-size: 30px;
  line-height: 45px;
  z-index: 3;
}

.price img {
  width: 31px;
  height: 36px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;

}

.cost {
  font-size: 40px;
  font-weight: bold;
  z-index: 3;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.ice a {
  position: relative;
  display: block;
  color: #fff;
  z-index: 3;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding: 0px 5px;
}

.view-wrapper {
  position: absolute;
  display: none;
  top: -5px;
  left:-5px;
  z-index: 1;
  width: 105%;
  height: 125%;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.3);
}

.ice:hover a {
  text-decoration: none;
}



.ice .ice-name {
  position: relative;
  z-index: 3;
}

.ice .quick-view {
  position: absolute;
  bottom: -60px;
  left: 35px;
  z-index: 4;
  display: none;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  box-shadow: 0 2px 2px 0 #be401a;
}

.quick-view:hover,
.btn-wrapper input[type="submit"]:hover,
.enter-form input[type="submit"]:hover,
.left-sale a:hover,
.right-sale a:hover,
.message-wrapper input[type="submit"]:hover,
.contacts-form .contact-btn:hover,
.feed-btn-wrapper input[type="submit"]:hover {
  background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

}

.quick-view:active,
.btn-wrapper input[type="submit"]:active,
.enter-form input[type="submit"]:active,
.left-sale a:active,
.right-sale a:active,
.message-wrapper input[type="submit"]:active,
.contacts-form .contact-btn:active,
.feed-btn-wrapper input[type="submit"]:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.about-us {
  box-sizing:border-box;
  width: 1146px;
  padding: 21px;
  margin-bottom: 40px;
  background-color: #ede2c8;
  background: #ede0c3 url("../img/waffle-pattern.png");
  border-radius: 10px;
}

.about-us h2 {
  margin: 0;
  margin-bottom: 22px;
  color: #323232;
  /*margin-left: 20px;*/
  margin-right: 20px;
  font-weight: 500;
}

.column-left {
  box-sizing: border-box;
  float: left;
  margin-right: 1.1%; /*12px*/
  width: 48.86%; /*560px*/
  /*padding-left: 1.74%;/*20px*/*/
}

.column-right {
  box-sizing: border-box;
  float: right;
  margin-left: 1.1%;
  width: 48.86%; /*560px*/
}

.column-left p, .column-right p {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding-left: 55px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.column-left p:before,
.column-right p:before {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 48px;
  height: 48px;
  content: "";
}

.column-left p:nth-child(1):before {
  background: url('../img/icon-ice.svg');
}

.column-left p:nth-child(2):before {
  background: url('../img/icon-leaf.svg');
}


.column-right p:nth-child(1):before {
  background: url('../img/icon-cow.svg');
}

.column-right p:nth-child(2):before {
  background: url('../img/icon-thermometr.svg');
}

.usefull-info {
  margin-bottom: 40px;
}

.blog {
  box-sizing: border-box;
  float: left;
  width: 560px;
  min-height: 220px;
  padding: 26px 256px 0px 19px;
  background: url("../img/bg-raspberry2.png");
}

.blog h3 {
  margin: 0;
  margin-bottom: 5px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 500;
}

.blog a {
  display: block;
  color: #353535;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.blog a:hover, .blog a:active {
  color: #e84d37;
}

.mail-delivery {
  box-sizing: border-box;
  float: right;
  z-index: 2;
  width: 560px;
  padding: 6px;
  color: #5a5a5a;
  font-weight: 400px;
  border-radius: 16px;
  background: url("../img/message-pattern.png"), #fff;
}

.message-wrapper {
  box-sizing: border-box;
  width: 549px;
  max-height: 208px;
  padding:11px 20px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.message-wrapper p {
  margin-bottom: 35px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
}

.message-wrapper form {
  font-size: 0px;
}

.feedback.pop-window {
  display: block;
}

.message-wrapper input[type="email"] {
  box-sizing: border-box;
  display: inline-block;
  width: 366px;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
  box-shadow: 0 0 0 2px #d3d3d2;
  border: none;
  border-radius: 5px;
}

.message-wrapper input[type="email"]:hover,
.search-form input[type="search"]:hover,
.enter-form input[type="email"]:hover,
.enter-form input[type="password"]:hover,
.feedback input[type="text"]:hover,
.feedback input[type="email"]:hover,
 .feedback textarea:hover {
   box-shadow: 0 0 0 2px #c7c6c5;
   outline: none;
 }

 .message-wrapper input[type="email"]:focus,
 .search-form input[type="search"]:focus,
 .enter-form input[type="email"]:focus,
 .enter-form input[type="password"]:focus,
 .feedback input[type="text"]:focus,
 .feedback input[type="email"]:focus,
 .feedback textarea:focus {
   box-shadow: 0 0 0 2px #8fbdec;
   outline: none;
  }

.message-wrapper input[type="submit"] {
  display: inline-block;
  padding:10px 18px 13px 22px;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  vertical-align: top;
  font-weight: 700;
  border: 0;
  border-radius: 40px;
  background-color: #e94e37;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  box-shadow: 0 1px 2px 1px #c9685d;
  cursor: pointer;
}

.map {
  height: 430px;
  background-color: #ebe4c8;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contacts-form {
  box-sizing: border-box;
  position: absolute;
  bottom: 70px;
  right: 2.3%;
  width: 303px;
  padding: 26px 25px 12px 25px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
}

.contacts-form p {
  padding: 0px 4px;
  margin: 0;
  margin-bottom: 23px;
  font-size: 14px;
  line-height: 1.25em;
}

.contacts-form span {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts-form p:last-of-type span {
  margin-top: 5px;
}

.contact-btn {
  box-sizing: border-box;
  display: inline-block;
  height: 44px;
  margin-bottom: 20px;
  padding: 9px 25px 13px 31px;
  color: #fefefe;
  font-size: 17px;
  font-weight: 900;
  line-height: 1.5em;
  border: 0;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
   box-shadow: 0 1px 2px 1px #c9685d;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
}

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(50px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.feedback {
  position: fixed;
  top:10%;
  left:50%;
  right: 50%;
  z-index: 2;
  display: none;
  width: 477px;
  margin-left: -15.5%;
  border-radius: 12px;
  background: #f8f7f4;
  animation: bounce 0.6s;
}

.feedback p {
  display: inline-block;
  margin: 19px 62px 21px 22px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  vertical-align: top;
}

.feedback a {
  position: relative;
  display: inline-block;
  margin-top: 17px;
  padding-right: 35px;
  font-size: 0;
  vertical-align: top;
}

.feedback a:after,
.feedback a:before {
  position: absolute;
  top: -60px;
  left: 425px;
  width: 23px;
  height: 23px;
  background: #000;
  background: url("../img/icon-del.svg") no-repeat;
  content: "";
}

/*.feedback a:after {
  transform: rotate(45deg);
}

.feedback a:before {
  transform: rotate(-45deg);
}*/


.feedback input[type="text"],
.feedback input[type="email"] {
  box-sizing: border-box;
  display: block;
  width: 267px;
  margin-bottom: 20px;
  margin-left: 24px;
  padding: 10px 15px;
  color: #323232;
  box-shadow: 0 0 0 2px #d3d3d2;
  border: none;
  border-radius: 5px 4px 4px 5px;
}

.feedback textarea {
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: 24px;
  width: 428px;
  min-height: 155px;
  color: #323232;
  border: 1px solid #d3d3d2;
  border-radius: 8px;
  resize: none;
}

.feedback .feed-btn-wrapper {
  text-align: right;
}

.feed-btn-wrapper input[type="submit"] {
  box-sizing: border-box;
  width: 139px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 25px;
  margin-right: 24px;
  margin-bottom: 27px;
  border: 10px;
  border-radius: 25px;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 1px 2px 1px #c9685d;
  cursor: pointer;
}

footer {
  margin-top: 20px;
}

footer a:hover,
footer a:active {
  color: #ffbc9e;
}

.social-links {
  float: left;
  width: 267px;
  margin-right: 28px;
  padding:
}

.social-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  font-size: 0;
  border: 4px solid #c2cec7;
  border-radius: 50%;
  opacity: 0.8;
}

.social-btn:hover {
  color: #fff;
  opacity: 1;
}

.social-btn:active {
  opacity: 0.7;
  box-shadow: inset 0 2px 1px #888;
  color: rgba(255, 255, 255, 0.99);
}

.social-btn-tw {
  background-image: url("../img/icon-tw.svg");
   background-repeat: no-repeat;
}

.social-btn-inst {
  background-image: url("../img/icon-inst.svg");
   background-repeat: no-repeat;

}

.social-btn-fb {
  background: url("../img/icon-fb.svg");
   background-repeat: no-repeat;
}

.social-btn-vk {
  background: url("../img/icon-vk.svg");
   background-repeat: no-repeat;
}

.bsns-contacts {
  box-sizing: border-box;
  float: left;
  width: 560px;
  font-size: 0px;
  padding: 13px 127px;
}

.bsns-contacts a {
  position: relative;
  display: block;
  margin-bottom: 3px;
  color: white;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
}

.bsns-contacts a::after {
  position: absolute;
  bottom: 1px;
  right: 0px;
  left: 0px;
  display: block;
  background-color: #98ada1;
  height: 1px;
  content: "";
}

.production a:last-child::after {
  right: 12px;
}

.docs a:first-child::after {
  right: 57px;
}

.bsns-contacts a:hover:after, .bsns-contacts a:active:after  {
   background-color: #ffbc9e;
}

.production .supplier:first-child:before {
   position: absolute;
   margin-top: 3px;
   margin-left: -20px;
   height: 13px;
   width:15px;
   background: url("../img/icon-heart.svg") no-repeat;
   content: "";
}


.production {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  }

  .production a:first-child {
    position: relative;
  }

  .docs {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

/* catalog.html */

.breadcrumbs {
  float: left;
  width: 560px;
  margin-bottom: 2px;
  margin-top: 15px;
  font-family: "roboto-regular";
  font-size: 0px;
  line-height: 0;
}

.breadcrumbs ul {
  display: inline-block;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  vertical-align: top;
}

.breadcrumbs li::after {
    position: absolute;
    top: -1px;
    right: 7px;
    display: block;
    content: "»";
}

.breadcrumbs li:last-child::after {
  content: "";
}

.breadcrumbs a {
  position: relative;
  color: #fff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.breadcrumbs a::after {
  position: absolute;
  bottom: 1px;
  right: 0px;
  left: 0px;
  display: block;
  background-color: #aebeb5;
  height: 1px;
  content: "";
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.bsns-contacts a:hover:after, .bsns-contacts a:active:after  {
   background-color: #ffbc9e;
  }

.catalog-heading {
  color: white;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.875em;
  margin-bottom: 28px;
}

.choice-form {
  box-sizing: border-box;
  width: 860px;
  margin-bottom: 40px;
  color: #fff;
  font-size: 0px;
  font-weight: normal;
}

.choice-form input,
.choice-form select,
.choice-form label {
  display: block;
}

.choice-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 40px;
  font-size: 14px;
  line-height: 16px;
  margin-right: 16px;
  margin-bottom: 18px;
  vertical-align: top;
}

.choice-form p {
  margin: 0;
  margin-bottom: 6px;
  margin-left: 16px;
}

.choice-form select {
  display: block;
  padding: 10px 32px 10px 14px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  border-radius: 20px;
  border: 0px;
  background-color: rgba(255,255,255,0.3);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  cursor: pointer;
}

.choice-form select:hover {
   color: #323232;
   background-color: #ffffff;
}

.choice-wrapper:first-child:after{
  position: absolute;
  top: 40px;
  right: 15px;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  cursor: pointer;
  content: "";
}

.choice-form select:hover {
  background-color: white;
  color: #343434;
  font-size: 16px;
}

.price-controls label {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls input {
  display: inline-block;
  width: 40px;
  color: inherit;
  vertical-align: top;
  text-align: center;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 2px;
}

.price-controls {
  padding-left: 15px;
  margin-right: 15px;
  color: #fff;
  font-size: 0px;
}

.price-controls span {
  font-size: 14px;
}

.range-controls {
  position: relative;
  padding: 17px 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
}

.filter-price__scale {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.filter-price__range {
  position: relative;
  margin-left: 20%;
  width: 51%;
  height: inherit;
  background-color: #f8f7f4;
}

.filter-price__toggle {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #f8f7f4;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.filter-price__toggle:hover {
  width: 22px;
  height: 22px;
}

.filter-price__toggle-min {
  left: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.filter-price__toggle-max {
  left: 80px;
  -webkit-transform: translateX(50%) translateY(-50%);
      -ms-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
}


.radio-wrapper {
  padding: 12px 17px 10px 16px;
  font-size: 0px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 20px;
}

.choice-form input[type="radio"] {
  display: none;
}

.radiobtn label {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  cursor: pointer;
}


.radiobtn label:before {
  position: absolute;
  display: block;
  left: -1px;
  height: 12px;
  width: 12px;
  border: 3px solid #aabbb1;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
  content: "";
}

.radiobtn label:hover:before,
 .filers label:hover:before {
   box-shadow: 0 0 0 1.5px #fff;
 }


.radiobtn label:last-child {
  margin: 0;
}

.radio-wrapper input[type="radio"]:checked + label:before {
  background-color: #fff;
}

.choice-wrapper:nth-child(3) {
  margin: 0;
}

.filters {
  padding: 10px 16px 10px 15px;
  font-size: 0px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.3);
}

.filters input {
  display: none;
}

.filters label {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  cursor: pointer;
}

.filters label:before {
  position: absolute;
  display: block;
  top: -1px;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  content: "";
}

.filters label:after {
    position: absolute;
    top: 5px;
    left: 9px;
    z-index: 1;
    width: 9px;
    height: 5px;
    display: none;
    content: "";
    border: 2px solid #fff;
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
}


.filters input[type="checkbox"]:checked + label:after {
  display: block;
}


.filters label:last-child {
  margin: 0;
}

.form-btn input[type="submit"]:hover {
   color: #000;
   background-color: #fbfcfb;
 }
.form-btn input[type="submit"]:active {
  color: #000;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px #696969;
  }

.form-btn {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 20px;
  vertical-align: top;
}

.form-btn input[type="submit"] {
  padding: 10px 26px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  border: 0px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.19);
  border: 2px solid white;
}

.form-btn input[type="submit"]:hover {
  color: #363636;
  background-color: rgba(255, 255, 255, 0.99);
}

.form-btn input[type="submit"]:active {
  color: #363636;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px dimgrey;
}

.goods {
  margin-bottom: 80px;
  font-size: 0px;
}

.paginator {
  float: right;
  width: 190px;
  font-size: 0;
  margin-bottom: 37px;
}

.prev {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 12px;
  font-size: 0px;
  vertical-align: middle;
  border: 2px solid #fff;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(45deg);

}

.page-btn {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  width: 26px;
  height: 25px;
  margin-right: 2px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%

}

.page-btn:hover {
   background-color: rgba(255,255,255,.3);
 }

 .page-btn:active {
   color: #000;
   background-color: #ffffff;
   box-shadow: inset 0 2px 1px #696969;
 }

.page-btn:last-child {
  margin: 0;
}

.next {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: 12px;
  font-size: 0px;
  vertical-align: middle;
  border: 2px solid #fff;
  border-bottom-style: none;
  border-left-style: none;
  transform: rotate(45deg);
}

.paginator .active {
  color: #000;
  background-color:  #fff;
}

.pre {
  width: 1146px;
  height: 1px;
  opacity: 0.3;
  background-color: white;
}
